:root {
    height: 100%;
    display: flex;
}

:root>* {
    margin: auto;
}

body {
    overflow-x: hidden;
    background: #24292e;
    color: #fff;
    width: 100%;
    height: 100vh;
}

#main {
    width: 100%;
    height: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    #json {
        width: 50%;
        margin: 0 auto;
    }

    img {
        margin: 10px auto;
        display: block;
    }

    h1 {
        margin: 0;
        font-size: 6em;
        line-height: 1.3;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
    }

    h3 {
        margin: 5px;
    }

    h2 {
        font-size: 20px;
        text-align: center;
        font-weight: 400;
    }
}